big-data/uspto/src/main/resources/dtd/us-patent-grant-v24/entities/950525/patapp.dtd

<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!--  		DOCUMENT TYPE DEFINITION FOR PATENT APPLICATIONS		-->
<!-- 		Draft Version for Electronic Filing 5/29/1996      		-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!-- The following set of declarations may be referred
     to using a public entity as follows:
	<!ENTITY % PTOapp PUBLIC  "-//USA-PTO//DTD Patent Application 950525//EN">
	%PTOapp;
										-->

<!ENTITY % PTOcomm PUBLIC  "-//USA-PTO//DTD Common Elements 950525//EN">
%PTOcomm;


<!-- ************************************************************************	-->
<!--    	       TOP LEVEL APPLICATION MODEL              		-->
<!-- ************************************************************************	-->

<!ELEMENT	patapp 	- - 	(utilapp | dsgnapp | plntapp)				>
<!ATTLIST 	patapp  ctry 	CDATA 		#IMPLIED          
                 	ver  	NUTOKEN 	#IMPLIED                  
	     		secur   (C | U)         "C"
                  	release ( N | P)        "N"      			>


<!-- ************************************************************************	-->
<!--               TOP LEVEL UTILITY APPLICATION MODEL         			-->
<!-- ************************************************************************	-->

<!ELEMENT 	utilapp - - (ident,declratn?,uspec?,fees?, 
                       	     drawng?, accomp? )					>

<!-- ************************************************************************	-->
<!--  This information uniquely identifies the application and applicant    	-->
<!-- ************************************************************************	-->

<!ELEMENT 	ident 	- - 	(docket,fni,crspdnc,appnr?,docdate?)   
						-- Identification Information 	-->
<!ELEMENT 	docket 	- - 	(#PCDATA)  	-- Attorney Docket Number  	-->
<!ELEMENT 	fni 	- - 	((%PARTY;), petn, authrty, signtr)   -- First Named Inventor -->
<!ATTLIST    	fni id     ID 	#REQUIRED	-- Unique  ID        -->    
<!ELEMENT 	petn 	- - 	(#PCDATA)  	-- Unsigned Petition Filed? Y/N 	-->
<!ELEMENT 	authrty 	- - 	(#PCDATA)  	-- Inventor Authority 	-->
<!ELEMENT 	signtr 	- - 	(#PCDATA)  	-- Digital Signature Required? Y/N 	-->
<!ELEMENT 	docdate	- - 	(DATE)   	-- Date of the Document -->




<!-- ************************************************************************	-->
<!-- 	This part of the DTD  represents the data elements that comprise the
	utility application specification.					-->
<!-- ************************************************************************	-->

<!ELEMENT 	uspec	- - 	(abstract,title,xref?,fedstmt?,mfref?,backgnd,summary,  
				drawdesc?,desc, claims)    -(pageimg) 		--Specification--> 
<!ATTLIST    	uspec  	id	ID	#REQUIRED	-- Unique  ID        -->    
<!ELEMENT 	abstract - - 	((p|%img;|%compl;)+) +(clrf|foo|for|br|emr|DATE|dfref)
       							--Abstract of the Disclosure -- >
<!ATTLIST    	abstract id     ID 	#REQUIRED	-- Unique  ID        -->    
<!ELEMENT 	title 	- - 	(%ntext;)  		-- Title of The Invention  -- >
<!ATTLIST   	title	id     	ID 	#REQUIRED	-- Unique  ID        -->    
<!ELEMENT 	xref 	- - 	(%ntext;)  		--Cross References to Related
							Applications  -- >
<!ATTLIST    	xref   	id     	ID 	#REQUIRED 	-- Unique  ID        -->    
<!ELEMENT 	fedstmt - - 	(%ntext;)*  		--Statement Regarding Federal
							Sponsorship Research/Development-->
<!ATTLIST    	fedstmt	id     	ID 	#REQUIRED 	-- Unique  ID        -->    
<!ELEMENT 	mfref 	- - 	(nrfiche, nrframes, p*) -- Reference to Microfiche Appendix-->
<!ELEMENT 	nrfiche - - 	(#PCDATA)  		--Total Number of Microfiche -- >
<!ELEMENT 	nrframes - - 	(#PCDATA)  		--Total Number of Frames-- >
<!ELEMENT 	backgnd - - 	((p|%img;|%compl;)+) +(clrf|foo|for|br|emr|DATE|dfref)
							--Background of the Invention -- >
<!ATTLIST   	backgnd	id     	ID 	#REQUIRED 	-- Unique  ID        -->    
<!ELEMENT 	summary - - 	((p|%img;|%compl;)+) +(clrf|foo|for|br|emr|DATE|dfref)
                                                        --Brief Summary of the Invention-- >
<!ATTLIST    	summary	id     	ID 	#REQUIRED 	-- Unique  ID        -->
<!ELEMENT 	drawdesc - - 	(%ntext;)*  +(clrf|foo|for|br|emr|DATE|dfref) 
							--Brief Description of the Drawings-->
<!ATTLIST    	drawdesc id     ID 	#REQUIRED 	-- Unique  ID        -->    
   
<!ELEMENT 	desc 	- - 	((h|p|%img;|%compl;)+) +(clrf|foo|for|br|emr| DATE | dfref )
							--Detailed Description   -- >
<!ATTLIST    	desc   	id     	ID 	#REQUIRED	-- Unique  ID        -->    
<!ELEMENT 	claims 	- - 	((p?),ol) +(clrf|foo|for|br|emr|DATE|dfref)
    							-- Claim(s)-->
<!ELEMENT 	drawng 	- - 	(nrdraw,(%img;)*)  		--Drawings-->
<!ELEMENT 	nrdraw - - 	(#PCDATA)   		-- Total Number of Figures -->

<!-- ************************************************************************	-->
<!-- 	This portion of the DTD represents the accompanying application parts
	data elements.								-->
<!-- ************************************************************************	-->
<!ELEMENT 	accomp 	- - 	(genseq?,cprogs?,infodisc?,preamend?,petition?,
				smallent?,enclosur?, nrenclos? , artifact*)	-- Accompanying parts -->
<!ELEMENT 	genseq 	- - 	(p*)   			--Statement of identical paper/computer
							  gene sequence  -->
<!ELEMENT 	cprogs 	- o 	Empty   		--Stub for Computer Code  -->
<!ELEMENT 	preamend - - 	(p*)   			-- Preliminary Amendment Text -->
<!ELEMENT 	smallent - - 	(p*)   			-- Small Entity Text -->
<!ELEMENT 	enclosur - - 	(enctitle, enctext)   	-- Enclosures-->
<!ATTLIST 	enclosur nrencl NUMBER  	#REQUIRED -- Additional Enclosure Count-->
<!ELEMENT 	enctitle - - 	(#PCDATA)   		-- Additional Enclosure Title -->
<!ELEMENT 	enctext  - - 	(p*)   			-- Additional Enclosure Text -->
<!ELEMENT 	nrenclos - - 	(#PCDATA)   		-- Additional Enclosure Count -->


<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!--          NEW UTILITY PATENT APPLICATION FEE TRANSMITTAL             
                           	                         SECTION 2
	Section 2  includes all of the elements for fee transmittal to accompany
	the New Utility Patent Application Transmittal  ( Fee Transmittal
	0002/PTO Revision 6/95).					-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->

<!ELEMENT  	fees 	- - 	(payamt,paymnt,claimtyp,feews,addfee?,othrfee?,submitr) 
                                			-- Fee Transmittal Form-->
<!ATTLIST    	fees   	id      ID	#REQUIRED    	-- Unique  ID        -->
<!ELEMENT 	payamt 	- - 	(#PCDATA)  		--Total Amount of Payment  -- >
<!ELEMENT 	paymnt 	- - 	(deposit|enclose) -- Method of Payment -- >
<!ELEMENT 	deposit	- - 	(acctnr,acctnam, auth, add1, add2)	-- Account Name and number -->
<!ELEMENT 	acctnr 	- - 	(#PCDATA)  		-- Deposit Account Number  -- >
<!ELEMENT 	acctnam - - 	(#PCDATA)  		-- Deposit  Account Name  -- >
<!ELEMENT 	auth 	- - 	(#PCDATA)  		-- Auth deposit account (Y/N)-- >
<!ELEMENT 	add1 	- - 	(#PCDATA)  		-- Charge Additional Required Fees(Y/N)-- >
<!ELEMENT 	add2	- - 	(#PCDATA)  		-- Charge Issue Fees (Y/N) -- >


<!ELEMENT 	claimtyp - - 	(nrclm,clmcode,clmpaid,clmtotl,indepclm,nrindep,
				iclmcode,iclmpaid,iclmtotl,multclm,multpaid)   
							-- Claim qualifiers -- >
<!ELEMENT 	nrclm 	- - 	(#PCDATA) 		--Total Claims -- >
<!ELEMENT 	clmcode - - 	(#PCDATA) 		--Claims Fee Code Submitted -- >
<!ELEMENT 	clmpaid	- - 	(#PCDATA) 		--Claims Fee Paid -- >
<!ELEMENT 	clmtotl - - 	(#PCDATA) 		--Total Claims Fee Paid -- >
<!ELEMENT 	indepclm - - 	(#PCDATA) 		--Total Number of Independent Claims -- >
<!ELEMENT 	nrindep - - 	(#PCDATA) 		--Number of Independent Claims -- >
<!ELEMENT 	iclmcode - - 	(#PCDATA) 		--Independent Claims Fee Code 
							  Submitted -- >
<!ELEMENT 	iclmpaid - - 	(#PCDATA) 		--Independent Claims Fee Paid -- >
<!ELEMENT 	iclmtotl - - 	(#PCDATA) 		--Total Independent Claims Fee Paid -- >
<!ELEMENT 	multclm - - 	(#PCDATA) 		--Multiple Dependent Claims -- >
<!ELEMENT 	multpaid - - 	(#PCDATA) 		--Multiple Dependent Claims Fee Paid -- >
<!ELEMENT 	enclose - o 	(#PCDATA)  		--Payment Enclosed
                                                                                                       check/money/other/waived -- >
<!ELEMENT 	feews   - - 	((feecode, feepd)+)	-- Fee Worksheet -->
<!ELEMENT 	feecode - - 	(#PCDATA)  		--Filing Fee Code Submitted -- >
<!ELEMENT 	feepd 	- - 	(#PCDATA)  		--Filing Fee Paid -- >
<!ELEMENT 	addfee	- - 	((afeecode,afeepd)+)	-- Additional Fee Worksheet -->
<!ELEMENT 	afeecode - - 	(#PCDATA)  		--Additional Fee Code Submitted -- >
<!ELEMENT 	afeepd 	- - 	(#PCDATA)  		--Additional Fee Paid -- >
<!ELEMENT 	othrfee	- - 	((ofeecode,ofeepd)+)	-- Other Fee Worksheet -->
<!ELEMENT 	ofeecode - - 	(#PCDATA)  		--Other Fee Description -- >
<!ELEMENT 	ofeepd 	- - 	(#PCDATA)  		--Other Fee Paid -- >
<!ELEMENT 	submitr - - 	((%NAM;),regnr,dauserid) --Fee Transmittal Submitter-- >
<!ELEMENT 	dauserid - - 	(#PCDATA)  		--Deposit Account User Id  -- >
 
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!--          NEW UTILITY PATENT APPLICATION DECLARATION            
                           	                     SECTION 3
	Section 3  includes all of the elements for declarations to accompany
	the New Utility Patent Application Transmittal (Declaration 0010/PTO
	Revision 6/95).					-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->

<!ELEMENT 	declratn - - 	(dectype, filedate?, docket,title,declstat, declfile?, declappl?, 
                                                         declamnd?,relappf?,provis?, relappd?,powratt*,crspdnc,fni,invntr*)  
							--Executed declaration-->
<!ATTLIST  	declratn id     	ID 	  #REQUIRED 	-- Unique  ID        -->        
<!ELEMENT 	dectype 	- - 	(#PCDATA)  -- Declaration Submitted Type (new/suplemental)-- >

<!ELEMENT  	declstat - - 	(%ntext;)+  		-- Declaration Statement  -- >
<!ATTLIST  	declstat id	ID	#REQUIRED	-- Unique  ID        -->
<!ELEMENT 	declfile 	- - 	(#PCDATA)  		-- Declaration Filed date or Attached-- >
<!ELEMENT 	declappl - - 	(#PCDATA)  		-- Declaration U.S. or PCT Application-- >
<!ELEMENT 	declamnd - - 	(DATE)  		-- Declaration amended date-- >
   
<!ELEMENT 	relappf - - 	(fstatmnt, (fappnr,CTRY,ffdate, priorty ,
                                                                      ccopy)+)  -- Prior Foreign Art -- >
<!ELEMENT 	fstatmnt 	- - 	(#PCDATA)  		-- Statement of Foreign Priority-- >
<!ATTLIST 	relappf	id      ID     	#REQUIRED	-- Unique  ID        -- >
<!ELEMENT 	ccopy 	- - 	(#PCDATA)  		-- Certified Copy Attached ? (Y/N)-- >
<!ELEMENT 	priorty 	- - 	(#PCDATA)  		-- Priority Not Claimed (Y/N) -- >

<!ELEMENT 	ffdate 	- - 	(DATE)  		--Foreign Filing Date  -- >
<!ELEMENT 	fappnr 	- - 	(#PCDATA)  		-- Prior Foreign Application Number-- >
<!ELEMENT 	provis 	- -     (pstatmnt, (proappnr, prodate)+)  	-- Benefit of Prior US Filing Under
							   35 USC 120 Claim -- >
<!ELEMENT 	pstatmnt 	- - 	(#PCDATA)  	-- Statement of 35 USC 120 Benefit-- >

<!ATTLIST   	provis	id      ID     	#REQUIRED 	-- Unique  ID        -->
<!ELEMENT 	proappnr - - 	(#PCDATA)  		--Provisional Application Number  -- >
<!ELEMENT 	prodate - - 	(DATE)  		--Provisional Filing Date  -- >
<!ELEMENT 	relappd - - 	(dstatmnt, (usparnt,pctparnt,prntfdt,
				prntpnr?)+)		-- Related Applications - US -- >
<!ATTLIST    	relappd	id      ID     	#REQUIRED	-- Unique  ID -->
<!ELEMENT 	dstatmnt 	- - 	(#PCDATA)  	-- Statement of 35 USC 120/
                                                                                                         PCT Benefit-- >
<!ELEMENT 	usparnt - - 	(#PCDATA)  		--U.S. Patent Application Serial 
							  Number  -- >
<!ELEMENT 	pctparnt - - 	(#PCDATA)  		-- PCT Parent Number -- >
<!ELEMENT 	prntfdt - - 	(DATE)  		--Parent Filing Date  -- >
<!ELEMENT 	prntpnr - - 	(#PCDATA)  		--Parent Patent Number  -- >
<!ELEMENT 	powratt - - 	(firm, custno?, attrny+) -- Power of Attorney   -- >
<!ATTLIST    	powratt	id      ID     	#REQUIRED	-- Unique  ID        -->
<!ELEMENT 	firm 	- - 	(#PCDATA)  		--Firm Name  -- >
<!ELEMENT 	custno 	- - 	(#PCDATA)  		-- PTO Customer Number  -- >
<!ELEMENT 	attrny 	- - 	((%NAM;),regnr)  	-- Legal Representative -- > 
<!ELEMENT 	regnr 	- - 	(#PCDATA)  		-- Registration Number   -- >
<!ATTLIST    	regnr	id      ID     #REQUIRED	-- Unique  ID        -->
<!ELEMENT  	crspdnc - - 	(%PARTY;)  		-- Correspondence Name and 
							   Correspondence Address -- >
<!ATTLIST    	crspdnc	id      ID     #REQUIRED	-- Unique  ID        -->
<!ELEMENT 	invntr 	- - 	((%PARTY;), petn, authrty, signtr) 	-- Inventor  Name and 
							   Inventor Address -- >
<!ATTLIST    	invntr	id 	ID     #REQUIRED	-- Unique  ID        -->

<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!--          		LIST OF PRIOR ART CITED BY APPLICANT              
                           	                                    SECTION 4
	Section 4 includes all of the elements for prior art within the New 
	Utility Patent Application Transmittal (1449A-B/PTO Revision 4/95).	-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->

<!ELEMENT 	infodisc - - 	(usdocs*,foredocs*,nondocs*) -- Information Disclosure -->

<!ELEMENT 	usdocs 	- - 	(citenr,docnr,dockind?,patentee,docdate,
				locate)   		-- US Patent Document  Citation -->
<!ELEMENT 	citenr 	- - 	(#PCDATA)   		-- Citation Number -->
<!ELEMENT 	docnr - - 	(#PCDATA)   		-- Document Number -->
<!ELEMENT 	dockind - - 	(#PCDATA)   		-- Document Kind Code  -->
<!ELEMENT 	patentee - - 	(%NAM;)   		-- Name of Patentee or Applicant 
							   of Cited Document -->
<!ELEMENT 	locate  - - 	(citepage,citecol,citeline) -- Citation Location -->
<!ELEMENT 	citepage - - 	(#PCDATA)   		-- Citation Page Number(s)-->
<!ELEMENT 	citecol  - - 	(#PCDATA)   		-- Citation Column Numbers(s)-->
<!ELEMENT 	citeline - - 	(#PCDATA)   		-- Citation Line Number(s)-->
<!ELEMENT 	foredocs - - 	(fcitenr,office,fpatentnr,fpatkind?, 
				fpatentee,fpubdate,flocate,engtrans) -- Foreign Patent Document 
							      Citations -->
<!ELEMENT 	engtrans - - 	(#PCDATA)   		-- English Translation Attached (Y/N)  -->
<!ELEMENT 	fcitenr - - 	(#PCDATA)   		-- Foreign Citation Number -->
<!ELEMENT 	fpatentnr - - 	(#PCDATA)   		-- Foreign Document Number -->
<!ELEMENT 	office  - - 	(#PCDATA)   		-- Foreign Patent Office Code -->
<!ELEMENT 	fpatkind - - 	(#PCDATA)   		-- Foreign Document Kind Code  -->
<!ELEMENT 	fpatentee - - 	(%NAM;)   		-- Name of Patentee or Applicant 
							   of Cited Foreign Document -->
<!ELEMENT 	fpubdate - - 	(DATE)   		-- Date of Publication of Cited 
							   Foreign Document-->
<!ELEMENT 	flocate - - 	(fcitepage,fcitecol,fciteline) -- Foreign Citation Location -->
<!ELEMENT 	fcitepage - - 	(#PCDATA)   		-- Foreign Citation Page Number(s)-->
<!ELEMENT 	fcitecol - - 	(#PCDATA)   		-- Foreign Citation Column Numbers(s)-->
<!ELEMENT 	fciteline - - 	(#PCDATA)   		-- Foreign Citation Line Number(s)-->
<!ELEMENT 	nondocs - - 	(ncitenr,nonpatloc, engtrans)   -- Non-Patent Literature Citation -->
<!ELEMENT 	ncitenr - - 	(#PCDATA)   		-- Non Patent Literature Citation 
							   Number -->
<!ELEMENT 	nonpatloc - - 	(#PCDATA)   		-- Non Patent Literature Location -->

<!-- ************************************************************************	-->
<!-- ************************************************************************	-->
<!--          			PETITION SLIP              
                           	  SECTION 5
	Section 5 includes all of the elements incoporated within a petition 
	routing slip for the New Utility Patent Application (Petition Routing 
	Slip  0012/PTO Revision 4/95).						-->
<!-- ************************************************************************	-->
<!-- ************************************************************************	-->

<!ELEMENT 	petition - - 	(petcode, pettext)   	-- Petitions -->
<!ELEMENT 	petcode  - - 	(#PCDATA)   		-- Petition Type Code -->
<!ELEMENT 	pettext  - - 	(p*)   			-- Petition Text -->


<!--    *********************************************************       -->
<!--    ******** TOP LEVEL DESIGN APPLICATION MODEL *********       -->
<!--    *********************************************************       -->

<!ELEMENT dsgnapp - - (ident, fees, dspec,  drawng+, declratn )    >

<!--    *********  INDENTIFICATION/REFERENCE **********                      -->
<!--                            As defined above                                                                   -->
<!--     ********** DETAILED SPECIFICATION  **********            -->
<!ELEMENT dspec - - (preambl, xref?, fedstmt?,drawdesc?, clm) -(pageimg) > 
<!ELEMENT preambl - - ((%NAM;), title)   -- applicant and title of invention  -- >
<!ATTLIST    preambl   id     ID #REQUIRED            -- Unique  ID        -->    
<!--  ELEMENT xref                as defined earlier -- >
<!--  ELEMENT fedstmt           as defined earlier -- >
<!--  ELEMENT drawdesc       as defined earlier -- >
<!--  ELEMENT  clm                as defined earlier -- >
<!--  ELEMENT  drawng          as defined earlier -- >
<!--  ELEMENT  declratn         as defined earlier -- >
<!--  ELEMENT   fees              as defined earlier -- >


<!--    *********************************************************       -->
<!--    ******** TOP LEVEL PLANT APPLICATION MODEL    *********       -->
<!--    *********************************************************       -->

<!ELEMENT plntapp - - (ident, fees, pspec,drawng+, declratn, colorsht)  >

<!--    *********  INDENTIFICATION/REFERENCE **********                      -->
<!--                            As defined above                                                                   -->
<!--     ********** DETAILED SPECIFICATION  **********            -->
<!ELEMENT pspec - - ( abstract, title, xref?, fedstmt?,  backgnd, summary, 
			drawdesc, bdesc, clm  ) -(pageimg) > 
<!--  ELEMENT   title              as defined earlier -- >
<!--  ELEMENT   xref              as defined earlier -- >
<!--  ELEMENT   fedstmt         as defined earlier -- >
<!--  ELEMENT   backgnd       as defined earlier -- >
<!--  ELEMENT   summary      as defined earlier -- >
<!--  ELEMENT    drawdesc    as defined earlier -- >
<!ELEMENT bdesc - - ((h | p | %img; | %compl;)+)  --detailed botanical desc.   -- >
<!ATTLIST    bdesc   id     ID #REQUIRED            -- Unique  ID        -->    
<!--  ELEMENT  abstract          as defined earlier -- >
<!--  ELEMENT  clm                as defined earlier -- >
<!--  ELEMENT  drawng          as defined earlier -- >
<!--  ELEMENT  declratn         as defined earlier -- >
<!--  ELEMENT   fees              as defined earlier -- >

<!--    ******** COLOR CODING SHEET *********       -->

<!ELEMENT colorsht - - (colorsys, clrentry+)     --Plant color coding sheet -->
<!ELEMENT colorsys - o (#PCDATA)     --Plant color coding system -->
<!ATTLIST    colorsys   id     ID #REQUIRED            -- Unique  ID        -->    
<!ELEMENT clrentry - - (clritm, color)     --Plant color coding entry -->
<!ATTLIST   clrentry   id   ID   #REQUIRED     -- Unique  ID        -- >
<!ELEMENT clritm - o (#PCDATA)     --Plant item etc. -->
<!ELEMENT color - o (#PCDATA)     --color system code -->

