big-data/uspto/src/main/resources/dtd/us-patent-grant-v24/dtds/MathMLSGML.DTD

<!-- Content model for content and presentation        -->
<!--  and browser interface tags in MathML              -->
<!-- initial draft 9.May.1997          syntax = XML     -->
<!-- author = s.buswell sb@stilo.demon.co.uk            -->
<!--                                                    -->
<!-- revised 14.May.1997 by Robert Miner                -->
<!-- revised 29.June.1997 and 2.July.1997 by s.buswell  -->
<!--                                                    -->
<!-- revised 15.December.1997  by s.buswell             -->
<!-- revised 8.February.1998   by s.buswell             -->
<!-- revised 4.april.1998      by s.buswell             -->
<!--                                                    -->
<!-- W3C Recommendation      7 April 1998                               -->
<!-- *************************************************  -->

<!-- general attribute definitions for class & style & id & other -->
<!-- : attributes shared by all mathml elements        -->

<!ENTITY % att-globalatts      'class CDATA #IMPLIED
                                 style CDATA #IMPLIED
                                 id    ID    #IMPLIED
                                 other CDATA #IMPLIED'  >

<!-- *************************************************  -->
<!-- Presentation element set                           -->

<!-- presentation attribute definitions -->

<!ENTITY % att-fontsize        'fontsize CDATA #IMPLIED'             >
<!ENTITY % att-fontweight      'fontweight (fwnormal | bold) #IMPLIED'  >
<!ENTITY % att-fontstyle       'fontstyle (fsnormal | italic) #IMPLIED' >
<!ENTITY % att-fontfamily      'fontfamily CDATA   #IMPLIED'         >
<!ENTITY % att-color           'color CDATA   #IMPLIED'              >

<!ENTITY % att-fontinfo      '%att-fontsize;
                              %att-fontweight;
                              %att-fontstyle;
                              %att-fontfamily;
                              %att-color;'  >

<!ENTITY % att-form        'form (prefix | infix | postfix) #IMPLIED' >
<!ENTITY % att-fence       'fence (aftrue | affalse ) #IMPLIED'    >
<!ENTITY % att-separator   'separator (true | false ) #IMPLIED'    >
<!ENTITY % att-lspace      'lspace CDATA  #IMPLIED'       >
<!ENTITY % att-rspace      'rspace CDATA  #IMPLIED'       >
<!ENTITY % att-stretchy    'stretchy (astrue | asfalse ) #IMPLIED'     >
<!ENTITY % att-symmetric   'symmetric (aytrue | ayfalse ) #IMPLIED'    >
<!ENTITY % att-maxsize     'maxsize CDATA #IMPLIED'       >
<!ENTITY % att-minsize     'minsize CDATA #IMPLIED'       >
<!ENTITY % att-largeop           'largeop (altrue | alfalse ) #IMPLIED' >
<!ENTITY % att-movablelimits     'movablelimits (amtrue | amfalse )
#IMPLIED' >
<!ENTITY % att-accent               'accent (aatrue | aafalse)  #IMPLIED'>

<!ENTITY % att-opinfo '%att-form;
                        %att-fence;
                        %att-separator;
                        %att-lspace;
                        %att-rspace;
                        %att-stretchy;
                        %att-symmetric;
                        %att-maxsize;
                        %att-minsize;
                        %att-largeop;
                        %att-movablelimits;
                        %att-accent;'         >

<!ENTITY % att-width             'width CDATA #IMPLIED'   >
<!ENTITY % att-height            'height CDATA #IMPLIED' >
<!ENTITY % att-depth             'depth CDATA #IMPLIED'   >

<!ENTITY % att-sizeinfo          '%att-width;
                                  %att-height;
                                  %att-depth;'          >

<!ENTITY % att-lquote              'lquote CDATA #IMPLIED'   >
<!ENTITY % att-rquote              'rquote CDATA #IMPLIED'   >

<!ENTITY % att-linethickness        'linethickness CDATA #IMPLIED' >

<!ENTITY % att-scriptlevel          'scriptlevel CDATA #IMPLIED'>
<!ENTITY % att-displaystyle         'displaystyle (dstrue | dsfalse)
#IMPLIED'>
<!ENTITY % att-scriptsizemultiplier 'scriptsizemultiplier CDATA
#IMPLIED'  >
<!ENTITY % att-scriptminsize        'scriptminsize CDATA #IMPLIED'>
<!ENTITY % att-background           'background CDATA #IMPLIED' >

<!ENTITY % att-open                 'open CDATA #IMPLIED' >
<!ENTITY % att-close                'close CDATA #IMPLIED' >
<!ENTITY % att-separators           'separators CDATA #IMPLIED' >

<!ENTITY % att-subscriptshift       'subscriptshift CDATA #IMPLIED'>
<!ENTITY % att-superscriptshift     'superscriptshift CDATA #IMPLIED'    >

<!ENTITY % att-accentunder          'accentunder (aaytrue | aayfalse) #IMPLIED'>

<!ENTITY % att-align                'align CDATA #IMPLIED'           >
<!ENTITY % att-rowalign             'rowalign CDATA #IMPLIED'    >
<!ENTITY % att-columnalign          'columnalign CDATA #IMPLIED'   >
<!ENTITY % att-groupalign           'groupalign CDATA #IMPLIED'    >
<!ENTITY % att-alignmentscope       'alignmentscope CDATA #IMPLIED'  >

<!ENTITY % att-rowspacing           'rowspacing CDATA #IMPLIED'      >
<!ENTITY % att-columnspacing        'columnspacing CDATA #IMPLIED'   >
<!ENTITY % att-rowlines             'rowlines CDATA #IMPLIED'           >
<!ENTITY % att-columnlines          'columnlines CDATA #IMPLIED'         >
<!ENTITY % att-frame                'frame (none | solid | dashed)
#IMPLIED'  >
<!ENTITY % att-framespacing         'framespacing CDATA #IMPLIED'       >
<!ENTITY % att-equalrows            'equalrows CDATA #IMPLIED'         >
<!ENTITY % att-equalcolumns         'equalcolumns CDATA #IMPLIED'     >

<!ENTITY % att-tableinfo           '%att-align;
                                   %att-rowalign;
                                   %att-columnalign;
                                   %att-groupalign;
                                   %att-alignmentscope;
                                   %att-rowspacing;
                                   %att-columnspacing;
                                   %att-rowlines;
                                   %att-columnlines;
                                   %att-frame;
                                   %att-framespacing;
                                   %att-equalrows;
                                   %att-equalcolumns;
                                   %att-displaystyle;'        >

<!ENTITY % att-rowspan              'rowspan CDATA #IMPLIED'         >
<!ENTITY % att-columnspan           'columnspan CDATA #IMPLIED'      >

<!ENTITY % att-edge                  'edge (left | right)  #IMPLIED ' >

<!ENTITY % att-actiontype            'actiontype CDATA #IMPLIED' >
<!ENTITY % att-selection             'selection CDATA #IMPLIED ' >

<!-- presentation token schemata with content-->

<!ENTITY % ptoken "mi | mn | mo | mtext | ms" >

<!ATTLIST mi        %att-fontinfo;
                    %att-globalatts;    >

<!ATTLIST mn        %att-fontinfo;
                    %att-globalatts;    >

<!ATTLIST mo        %att-fontinfo;
                    %att-opinfo;
                    %att-globalatts;     >

<!ATTLIST mtext     %att-fontinfo;
                    %att-globalatts;     >

<!ATTLIST ms        %att-fontinfo;
                    %att-lquote;
                    %att-rquote;
                    %att-globalatts;          >

<!-- empty presentation token schemata -->

<!ENTITY % petoken  "mspace" >
<!ELEMENT mspace   - o EMPTY  >

<!ATTLIST mspace    %att-sizeinfo;
                    %att-globalatts;       >

<!-- presentation general layout schemata -->

<!ENTITY % pgenschema "mrow|mfrac|msqrt|mroot|
                    mstyle|merror|mpadded| mphantom|mfenced" >

<!ATTLIST mrow      %att-globalatts;   >

<!ATTLIST mfrac     %att-linethickness;
                    %att-globalatts; >

<!ATTLIST msqrt     %att-globalatts;   >

<!ATTLIST mroot     %att-globalatts;   >

<!ATTLIST mstyle    %att-fontinfo;
                    %att-opinfo;
                    %att-lquote;
                    %att-rquote;
                    %att-linethickness;
                    %att-scriptlevel;
                    %att-scriptsizemultiplier;
                    %att-scriptminsize;
                                        %att-background;
                                        %att-open;
                                        %att-close;
                                        %att-separators;
                    %att-subscriptshift;
                    %att-superscriptshift;
                    %att-accentunder;
                    %att-tableinfo;
                    %att-rowspan;
                    %att-columnspan;
                                        %att-edge;
                                        %att-actiontype;
                                        %att-selection;
                    %att-globalatts;          >

<!ATTLIST merror    %att-globalatts;   >

<!ATTLIST mpadded   %att-sizeinfo;
                    %att-lspace;
                    %att-globalatts;     >

<!ATTLIST mphantom  %att-globalatts;     >

<!ATTLIST mfenced   %att-open;
                    %att-close;
                    %att-separators;
                    %att-globalatts;     >

<!-- presentation  layout schemata : scripts and limits -->

<!ENTITY % pscrschema  "msub|msup|msubsup|
                    munder|mover|munderover|mmultiscripts" >

<!ATTLIST msub      %att-subscriptshift;
                    %att-globalatts;     >

<!ATTLIST msup      %att-superscriptshift;
                    %att-globalatts;          >

<!ATTLIST msubsup   %att-subscriptshift;
                    %att-superscriptshift;
                    %att-globalatts;          >

<!ATTLIST munder    %att-accentunder;
                    %att-globalatts;          >

<!ATTLIST mover     %att-accent;
                    %att-globalatts;           >

<!ATTLIST munderover %att-accent;
                     %att-accentunder;
                     %att-globalatts;      >

<!ATTLIST mmultiscripts
                    %att-subscriptshift;
                    %att-superscriptshift;
                    %att-globalatts;          >

<!-- presentation layout schemata: script empty elements -->

<!ENTITY % pscreschema "mprescripts|none" >

<!ELEMENT mprescripts  - o EMPTY          >
<!ATTLIST mprescripts   %att-globalatts;      >

<!ELEMENT none        - o EMPTY          >
<!ATTLIST none          %att-globalatts;      >

<!-- presentation layout schemata: tables -->

<!ENTITY % ptabschema "mtable|mtr|mtd" >

<!ATTLIST mtable    %att-tableinfo;
                    %att-globalatts;      >

<!ATTLIST mtr       %att-rowalign;
                    %att-columnalign;
                    %att-groupalign;
                    %att-globalatts; >

<!ATTLIST mtd       %att-rowalign;
                    %att-columnalign;
                    %att-groupalign;
                    %att-rowspan;
                    %att-columnspan;
                    %att-globalatts;   >

<!ENTITY % plschema  "%pgenschema;|%pscrschema;|%ptabschema;" >

<!-- empty presentation layout schemata -->

<!ENTITY % peschema "maligngroup | malignmark" >

<!ELEMENT  malignmark - o EMPTY          >

<!ATTLIST malignmark    %att-edge;
                        %att-globalatts;      >

<!ELEMENT maligngroup  - o EMPTY          >
<!ATTLIST maligngroup   %att-groupalign;
                        %att-globalatts;      >

<!-- presentation action schemata -->

<!ENTITY % pactions "maction" >
<!ATTLIST maction   %att-actiontype;
                    %att-selection;
                    %att-globalatts;     >

<!-- Presentation entity for substitution into content tag constructs -->
<!-- excludes elements which are not valid as expressions             -->

<!ENTITY % PresInCont    "%ptoken; | %petoken; |
                          %plschema; | %peschema; | %pactions;">

<!-- Presentation entity - all presentation constructs -->

<!ENTITY % Presentation  "%ptoken; | %petoken; | %pscreschema; |
                          %plschema; | %peschema; | %pactions;">

<!-- *************************************************  -->
<!-- Content element set                                -->
<!-- attribute definitions                              -->

<!ENTITY % att-base              'base CDATA "10"'           >
<!ENTITY % att-closure           'closure CDATA "closed"'    >
<!ENTITY % att-definition        'definitionURL CDATA ""'    >
<!ENTITY % att-encoding          'encoding CDATA ""'         >
<!ENTITY % att-nargs             'nargs CDATA "1"'           >
<!ENTITY % att-occurence         'occurence CDATA "function-model"'  >
<!ENTITY % att-order             'order CDATA "numeric"'         >
<!ENTITY % att-scope             'scope CDATA "local"'         >
<!ENTITY % att-type              'type CDATA #IMPLIED'         >

<!-- content leaf token elements -->

<!ENTITY % ctoken "ci | cn" >

<!ATTLIST ci   %att-type;
               %att-globalatts;     >

<!ATTLIST cn   %att-type;
               %att-base;
               %att-globalatts;     >

<!-- content elements - specials -->

<!ENTITY % cspecial "apply | reln | lambda" >

<!ATTLIST apply   %att-globalatts;     >

<!ATTLIST reln    %att-globalatts;     >

<!ATTLIST lambda  %att-globalatts;     >

<!-- content elements - others -->

<!ENTITY % cother "condition | declare | sep" >

<!ATTLIST condition       %att-globalatts;     >

<!ATTLIST declare         %att-type;
                          %att-scope;
                          %att-nargs;
                          %att-occurence;
                          %att-definition;
                          %att-globalatts;     >

<!ELEMENT sep     - o EMPTY >
<!ATTLIST sep       %att-globalatts;     >

<!-- content elements - semantic mapping -->

<!ENTITY % csemantics "semantics | annotation | annotation-xml" >

<!ATTLIST semantics         %att-definition;
                            %att-globalatts;     >

<!ATTLIST annotation        %att-encoding;
                            %att-globalatts;     >

<!ATTLIST annotation-xml    %att-encoding;
                            %att-globalatts;     >

<!-- content elements - constructors -->

<!ENTITY % cconstructor "interval | list | matrix | matrixrow | set |
vector" >

<!ATTLIST interval     %att-closure;
                       %att-globalatts;     >

<!ATTLIST set          %att-globalatts;     >

<!ATTLIST list         %att-order;
                       %att-globalatts;     >

<!ATTLIST vector       %att-globalatts;     >

<!ATTLIST matrix       %att-globalatts;     >

<!ATTLIST matrixrow    %att-globalatts;     >

<!-- content elements - operators -->

<!ENTITY % cfuncop1ary "inverse | ident " >

<!ELEMENT inverse        - o EMPTY       >
<!ATTLIST inverse     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cfuncopnary "fn |  compose" >

<!ATTLIST fn     %att-definition;
                 %att-globalatts;     >

<!ELEMENT ident     - o EMPTY       >
<!ATTLIST ident       %att-definition;
                      %att-globalatts;     >

<!ELEMENT compose   - o EMPTY       >
<!ATTLIST compose     %att-definition;
                      %att-globalatts;     >

<!ENTITY % carithop1ary "abs | conjugate | exp | factorial" >

<!ELEMENT exp       - o EMPTY       >
<!ATTLIST exp         %att-definition;
                      %att-globalatts;     >

<!ELEMENT abs       - o EMPTY       >
<!ATTLIST abs         %att-definition;
                      %att-globalatts;     >

<!ELEMENT conjugate - o EMPTY       >
<!ATTLIST conjugate   %att-definition;
                      %att-globalatts;     >

<!ELEMENT factorial - o EMPTY       >
<!ATTLIST factorial   %att-definition;
                      %att-globalatts;     >

<!ENTITY % carithop1or2ary "minus" >

<!ELEMENT minus     - o EMPTY       >
<!ATTLIST minus       %att-definition;
                      %att-globalatts;     >

<!ENTITY % carithop2ary "quotient | divide | power | rem" >

<!ELEMENT quotient     - o EMPTY       >
<!ATTLIST quotient       %att-definition;
                         %att-globalatts;     >

<!ELEMENT divide     - o EMPTY       >
<!ATTLIST divide       %att-definition;
                       %att-globalatts;     >

<!ELEMENT power        - o EMPTY       >
<!ATTLIST power       %att-definition;
                      %att-globalatts;     >

<!ELEMENT rem        - o EMPTY       >
<!ATTLIST rem        %att-definition;
                     %att-globalatts;     >

<!ENTITY % carithopnary "plus | times | max | min | gcd" >

<!ELEMENT plus        - o EMPTY       >
<!ATTLIST plus        %att-definition;
                      %att-globalatts;     >

<!ELEMENT max        - o EMPTY       >
<!ATTLIST max         %att-definition;
                      %att-globalatts;     >

<!ELEMENT min        - o EMPTY       >
<!ATTLIST min         %att-definition;
                      %att-globalatts;     >

<!ELEMENT times        - o EMPTY       >
<!ATTLIST times     %att-definition;
                    %att-globalatts;     >

<!ELEMENT gcd        - o EMPTY       >
<!ATTLIST gcd     %att-definition;
                  %att-globalatts;     >

<!ENTITY % carithoproot "root" >

<!ELEMENT root        - o EMPTY       >
<!ATTLIST root     %att-definition;
                   %att-globalatts;     >

<!ENTITY % clogicopquant "exists | forall" >

<!ELEMENT exists        - o EMPTY       >
<!ATTLIST exists     %att-definition;
                      %att-globalatts;     >

<!ELEMENT forall        - o EMPTY       >
<!ATTLIST forall     %att-definition;
                      %att-globalatts;     >

<!ENTITY % clogicopnary "and | or | xor" >

<!ELEMENT and        - o EMPTY       >
<!ATTLIST and     %att-definition;
                      %att-globalatts;     >

<!ELEMENT or        - o EMPTY       >
<!ATTLIST or     %att-definition;
                      %att-globalatts;     >

<!ELEMENT xor        - o EMPTY       >
<!ATTLIST xor     %att-definition;
                      %att-globalatts;     >

<!ENTITY % clogicop1ary "not" >

<!ELEMENT not        - o EMPTY       >
<!ATTLIST not     %att-definition;
                      %att-globalatts;     >

<!ENTITY % clogicop2ary "implies" >

<!ELEMENT implies        - o EMPTY       >
<!ATTLIST implies     %att-definition;
                      %att-globalatts;     >

<!ENTITY % ccalcop "log | int | diff | partialdiff" >

<!ELEMENT log        - o EMPTY       >
<!ATTLIST log     %att-definition;
                      %att-globalatts;     >

<!ELEMENT int        - o EMPTY       >
<!ATTLIST int     %att-definition;
                      %att-globalatts;     >

<!ELEMENT diff        - o EMPTY       >
<!ATTLIST diff     %att-definition;
                      %att-globalatts;     >

<!ELEMENT partialdiff        - o EMPTY       >
<!ATTLIST partialdiff     %att-definition;
                      %att-globalatts;     >

<!ENTITY % ccalcop1ary "ln" >

<!ELEMENT ln        - o EMPTY       >
<!ATTLIST ln     %att-definition;
                      %att-globalatts;     >

<!ENTITY % csetop2ary "setdiff" >

<!ELEMENT setdiff        - o EMPTY       >
<!ATTLIST setdiff     %att-definition;
                      %att-globalatts;     >

<!ENTITY % csetopnary "union | intersect" >

<!ELEMENT union        - o EMPTY       >
<!ATTLIST union     %att-definition;
                      %att-globalatts;     >

<!ELEMENT intersect        - o EMPTY       >
<!ATTLIST intersect     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cseqop "sum | product | limit" >

<!ELEMENT sum        - o EMPTY       >
<!ATTLIST sum     %att-definition;
                      %att-globalatts;     >

<!ELEMENT product        - o EMPTY       >
<!ATTLIST product     %att-definition;
                      %att-globalatts;     >

<!ELEMENT limit        - o EMPTY       >
<!ATTLIST limit     %att-definition;
                      %att-globalatts;     >

<!ENTITY % ctrigop "sin | cos | tan | sec | csc | cot | sinh
                | cosh | tanh | sech | csch | coth
                | arcsin | arccos | arctan" >

<!ELEMENT sin        - o EMPTY       >
<!ATTLIST sin     %att-definition;
                      %att-globalatts;     >

<!ELEMENT cos        - o EMPTY       >
<!ATTLIST cos     %att-definition;
                      %att-globalatts;     >

<!ELEMENT tan        - o EMPTY       >
<!ATTLIST tan     %att-definition;
                      %att-globalatts;     >

<!ELEMENT sec        - o EMPTY       >
<!ATTLIST sec     %att-definition;
                      %att-globalatts;     >

<!ELEMENT csc        - o EMPTY       >
<!ATTLIST csc     %att-definition;
                      %att-globalatts;     >

<!ELEMENT cot        - o EMPTY       >
<!ATTLIST cot     %att-definition;
                      %att-globalatts;     >

<!ELEMENT sinh        - o EMPTY       >
<!ATTLIST sinh     %att-definition;
                      %att-globalatts;     >

<!ELEMENT cosh        - o EMPTY       >
<!ATTLIST cosh     %att-definition;
                      %att-globalatts;     >

<!ELEMENT tanh        - o EMPTY       >
<!ATTLIST tanh     %att-definition;
                      %att-globalatts;     >

<!ELEMENT sech        - o EMPTY       >
<!ATTLIST sech     %att-definition;
                      %att-globalatts;     >

<!ELEMENT csch        - o EMPTY       >
<!ATTLIST csch     %att-definition;
                      %att-globalatts;     >

<!ELEMENT coth        - o EMPTY       >
<!ATTLIST coth     %att-definition;
                      %att-globalatts;     >

<!ELEMENT arcsin        - o EMPTY       >
<!ATTLIST arcsin     %att-definition;
                      %att-globalatts;     >

<!ELEMENT arccos        - o EMPTY       >
<!ATTLIST arccos     %att-definition;
                      %att-globalatts;     >

<!ELEMENT arctan        - o EMPTY       >
<!ATTLIST arctan     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cstatopnary "mean | sdev | var | median | mode" >

<!ELEMENT mean        - o EMPTY       >
<!ATTLIST mean     %att-definition;
                      %att-globalatts;     >

<!ELEMENT sdev        - o EMPTY       >
<!ATTLIST sdev     %att-definition;
                      %att-globalatts;     >

<!ELEMENT var        - o EMPTY       >
<!ATTLIST var     %att-definition;
                      %att-globalatts;     >

<!ELEMENT median        - o EMPTY       >
<!ATTLIST median     %att-definition;
                      %att-globalatts;     >

<!ELEMENT mode        - o EMPTY       >
<!ATTLIST mode     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cstatopmoment "moment" >

<!ELEMENT moment        - o EMPTY       >
<!ATTLIST moment     %att-definition;
                      %att-globalatts;     >

<!ENTITY % clalgop1ary "determinant | transpose" >

<!ELEMENT determinant        - o EMPTY       >
<!ATTLIST determinant     %att-definition;
                      %att-globalatts;     >

<!ELEMENT transpose        - o EMPTY       >
<!ATTLIST transpose     %att-definition;
                      %att-globalatts;     >

<!ENTITY % clalgopnary "select" >

<!ELEMENT select        - o EMPTY       >
<!ATTLIST select     %att-definition;
                      %att-globalatts;     >

<!-- content elements -  relations  -->

<!ENTITY % cgenrel2ary "neq" >

<!ELEMENT neq        - o EMPTY       >
<!ATTLIST neq     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cgenrelnary "eq | leq | lt | geq | gt" >

<!ELEMENT eq        - o EMPTY       >
<!ATTLIST eq     %att-definition;
                      %att-globalatts;     >

<!ELEMENT gt        - o EMPTY       >
<!ATTLIST gt     %att-definition;
                      %att-globalatts;     >

<!ELEMENT lt        - o EMPTY       >
<!ATTLIST lt     %att-definition;
                      %att-globalatts;     >

<!ELEMENT geq        - o EMPTY       >
<!ATTLIST geq     %att-definition;
                      %att-globalatts;     >

<!ELEMENT leq        - o EMPTY       >
<!ATTLIST leq     %att-definition;
                      %att-globalatts;     >

<!ENTITY % csetrel2ary "in | notin | notsubset | notprsubset" >

<!ELEMENT in        - o EMPTY       >
<!ATTLIST in     %att-definition;
                      %att-globalatts;     >

<!ELEMENT notin        - o EMPTY       >
<!ATTLIST notin     %att-definition;
                      %att-globalatts;     >

<!ELEMENT notsubset        - o EMPTY       >
<!ATTLIST notsubset     %att-definition;
                      %att-globalatts;     >

<!ELEMENT notprsubset        - o EMPTY       >
<!ATTLIST notprsubset     %att-definition;
                      %att-globalatts;     >

<!ENTITY % csetrelnary "subset | prsubset" >

<!ELEMENT subset        - o EMPTY       >
<!ATTLIST subset     %att-definition;
                      %att-globalatts;     >

<!ELEMENT prsubset        - o EMPTY       >
<!ATTLIST prsubset     %att-definition;
                      %att-globalatts;     >

<!ENTITY % cseqrel2ary "tendsto" >

<!ELEMENT tendsto        - o EMPTY       >
<!ATTLIST tendsto     %att-definition;
                      %att-type;
                      %att-globalatts;     >

<!-- content elements -  quantifiers  -->

<!ENTITY % cquantifier "lowlimit | uplimit | bvar | degree | logbase" >

<!ATTLIST lowlimit  %att-globalatts;     >

<!ATTLIST uplimit  %att-globalatts;     >

<!ATTLIST bvar     %att-globalatts;     >

<!ATTLIST degree   %att-globalatts;     >

<!ATTLIST logbase  %att-globalatts;     >

<!-- operator groups -->

<!ENTITY % cop1ary "%cfuncop1ary; | %carithop1ary; | %clogicop1ary;
                    | %ccalcop1ary; | %ctrigop; | %clalgop1ary; " >

<!ENTITY % cop2ary "%carithop2ary; | %clogicop2ary;| %csetop2ary; " >

<!ENTITY % copnary "%cfuncopnary; | %carithopnary; | %clogicopnary;
                    | %csetopnary; | %cstatopnary;  | %clalgopnary; " >

<!ENTITY % copmisc "%carithoproot; | %carithop1or2ary; | %ccalcop;
                    | %cseqop; | %cstatopmoment; | %clogicopquant;" >

<!-- relation groups -->

<!ENTITY % crel2ary "%cgenrel2ary;  | %csetrel2ary; | %cseqrel2ary;   " >

<!ENTITY % crelnary "%cgenrelnary; | %csetrelnary;" >

<!-- content constructs - all -->

<!ENTITY % Content "%ctoken; | %cspecial;  | %cother;  | %csemantics;
                    |%cconstructor; | %cquantifier;
                    |%cop1ary; |%cop2ary; |%copnary; |%copmisc;
                    |%crel2ary; |%crelnary;" >

<!-- content constructs for substitution in presentation structures -->

<!ENTITY % ContInPres "ci | cn  | apply  | fn | lambda | reln
                    | interval | list | matrix |matrixrow
                    | set | vector | semantics" > <!--dpc-->

<!-- *************************************************  -->

<!-- recursive definition for content of expressions             -->
<!-- include presentation tag constructs at lowest level         -->
<!-- so presentation layout schemata hold presentation or Content -->
<!-- include Content tag constructs at lowest level              -->
<!-- so Content tokens hold PCDATA or Presentation at leaf level -->
<!-- (for permitted substitutable elements in context)           -->

<!ENTITY % ContentExpression   "(%Content; | %PresInCont;)* "     >
<!ENTITY % PresExpression      "(%Presentation; | %ContInPres;)* "     >
<!ENTITY % MathExpression      "(%PresInCont; | %ContInPres;)* "     >

<!--  content token elements (may hold embedded presentation constructs)
-->

<!ELEMENT ci  - -     (#PCDATA | %PresInCont;)*   >
<!ELEMENT cn  - -     (#PCDATA | sep | %PresInCont;)*   >

<!--  content special elements    -->

<!ELEMENT apply   - -   (%ContentExpression;)   >
<!ELEMENT reln    - -   (%ContentExpression;)   >
<!ELEMENT lambda  - -   (%ContentExpression;)   >

<!--  content other elements    -->

<!ELEMENT condition  - -    (%ContentExpression;)   >
<!ELEMENT declare    - -    (%ContentExpression;)   >

<!--  content semantics elements    -->

<!ELEMENT semantics    - -          (%ContentExpression;)   >
<!ELEMENT annotation     - -        (#PCDATA)                >
<!ELEMENT annotation-xml  - -       (%ContentExpression;)   >

<!--  content constructor elements    -->

<!ELEMENT interval  - -     (%ContentExpression;)   >
<!ELEMENT set       - -     (%ContentExpression;)   >
<!ELEMENT list      - -     (%ContentExpression;)   >
<!ELEMENT vector    - -     (%ContentExpression;)   >
<!ELEMENT matrix    - -     (%ContentExpression;)   >
<!ELEMENT matrixrow - -     (%ContentExpression;)   >

<!--  content operator element (user-defined)    -->

<!ELEMENT fn   - -    (%ContentExpression;)   >

<!--  content quantifier elements    -->

<!ELEMENT lowlimit  - -     (%ContentExpression;)   >
<!ELEMENT uplimit   - -     (%ContentExpression;)   >
<!ELEMENT bvar      - -     (%ContentExpression;)   >
<!ELEMENT degree    - -     (%ContentExpression;)   >
<!ELEMENT logbase   - -     (%ContentExpression;)   >

<!-- *************************************************  -->
<!-- presentation layout schema contain tokens, layout and content
schema  -->

<!ELEMENT mstyle     - -     (%PresExpression;)                      >
<!ELEMENT merror     - -     (%PresExpression;)                      >
<!ELEMENT mphantom   - -     (%PresExpression;)                      >
<!ELEMENT mrow       - -     (%PresExpression;)                      >
<!ELEMENT mfrac      - -     (%PresExpression;)                      >
<!ELEMENT msqrt      - -     (%PresExpression;)                      >
<!ELEMENT mroot      - -     (%PresExpression;)                      >
<!ELEMENT msub       - -     (%PresExpression;)                      >
<!ELEMENT msup       - -     (%PresExpression;)                      >
<!ELEMENT msubsup    - -     (%PresExpression;)                      >
<!ELEMENT mmultiscripts - -  (%PresExpression;)                      >
<!ELEMENT munder     - -     (%PresExpression;)                      >
<!ELEMENT mover      - -     (%PresExpression;)                      >
<!ELEMENT munderover - -     (%PresExpression;)                      >
<!ELEMENT mtable     - -     (%PresExpression;)                      >
<!ELEMENT mtr        - -     (%PresExpression;)                      >
<!ELEMENT mtd        - -     (%PresExpression;)                      >
<!ELEMENT maction    - -     (%PresExpression;)                      >
<!ELEMENT mfenced    - -     (%PresExpression;)                      >
<!ELEMENT mpadded    - -     (%PresExpression;)                      >

<!-- presentation tokens contain PCDATA or malignmark constructs -->

<!ELEMENT mi   - -  (#PCDATA | malignmark )*        >
<!ELEMENT mn   - -  (#PCDATA | malignmark )*        >
<!ELEMENT mo   - -  (#PCDATA | malignmark )*        >
<!ELEMENT mtext - - (#PCDATA | malignmark )*        >
<!ELEMENT ms   - -  (#PCDATA | malignmark )*        >

<!-- *************************************************  -->
<!-- browser interface definition -->

<!-- attributes for top level math element -->

<!ENTITY  %     att-macros      'macros CDATA #IMPLIED' >
<!ENTITY  %     att-mode        'mode   CDATA #IMPLIED' >

<!ENTITY  %     att-topinfo    '%att-globalatts;
                                %att-macros;
                                %att-mode;'     >

<!-- attributes for browser interface element element -->

<!ENTITY  %     att-name        'name CDATA #IMPLIED' >
<!ENTITY  %     att-height      'height CDATA #IMPLIED' >
<!ENTITY  %     att-width       'width CDATA #IMPLIED' >
<!ENTITY  %     att-baseline    'baseline CDATA #IMPLIED' >
<!ENTITY  %     att-overflow    'overflow
(scroll|elide|truncate|scale) "scroll"' >
<!ENTITY  %     att-altimg      'altimg CDATA #IMPLIED' >
<!ENTITY  %     att-alttext     'alttext CDATA #IMPLIED' >

<!ENTITY  %     att-browif      '%att-type;
                                %att-name;
                                %att-height;
                                %att-width;
                                %att-baseline;
                                %att-overflow;
                                %att-altimg;
                                %att-alttext; '     >

<!-- the top level math  element      -->
<!-- math  contains MathML encoded mathematics -->
<!-- math has the browser info attributes iff it is the
    browser interface element also -->

<!ELEMENT math   - -    (%MathExpression;)    >

<!ATTLIST  math         %att-topinfo;
                        %att-browif;   >

<!-- end of DTD fragment -->
<!-- *************************************************  -->

